Pandas:
real data are collection of values of  hetrogenous data:which means collection multiple type of data.

pandas data can be use to create  rectungalar data frame.

pandas  work:
data from diffrent source----->pandas ====rectangular dataframe.
which helps to take out in the form of analysis.
it has functions analyzing,cleaning,exploring, manipulating.
 It helps to analyze big data and make conclusions based on statistical theories.

[---Preprocessing---]
E==extraction
T==transform
L===load

pandas=series and data frame.
series= store at 1D
dataframe=rectunglar(matrix format)

series:helps for indexing.

In [ ]:
import numpy as np
import pandas as pd

np.nan===     float
String form: nan
Docstring:   Convert a string or number to a floating point number, if possible.

nan= to represent missing value use:np.nan

In [ ]:
np.nan

In [ ]:
#create a pandas series
s=pd.Series([12,34,56,np.nan,34,56])
s

0    12.0
1    34.0
2    56.0
3     NaN
4    34.0
5    56.0
dtype: float64

In [ ]:
s

'abcs'

In [ ]:
type(s)

str

Create dataframe in pandas

In [ ]:
dates=pd.date_range(start="20220126",periods=10)
dates

DatetimeIndex(['2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29',
               '2022-01-30', '2022-01-31', '2022-02-01', '2022-02-02',
               '2022-02-03', '2022-02-04'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
num=np.random.randn(10,4)
num

array([[-0.06917159,  1.14116589,  2.794003  , -1.15007324],
       [ 0.95624881, -0.38221542,  1.1206315 , -0.99539868],
       [ 0.04086742,  0.82172862, -1.35151826,  0.68411814],
       [ 0.77697469, -0.55203467, -0.11049656,  0.2194052 ],
       [ 0.75636269,  1.16942678, -0.68721318,  0.53177103],
       [-1.64327701, -2.47787021, -0.42413921,  0.98238445],
       [ 0.16417614,  0.14239154, -2.51070793, -0.09177718],
       [ 2.12314346, -0.58370342,  2.79057151, -0.23638024],
       [ 0.42256911, -0.04196983, -1.54325983,  1.51441762],
       [ 0.47979074,  0.79672984, -0.53926684,  0.74576227]])

In [ ]:
type(num)

numpy.ndarray

In [ ]:
num.shape

(10, 4)

In [ ]:
num

array([[-0.06917159,  1.14116589,  2.794003  , -1.15007324],
       [ 0.95624881, -0.38221542,  1.1206315 , -0.99539868],
       [ 0.04086742,  0.82172862, -1.35151826,  0.68411814],
       [ 0.77697469, -0.55203467, -0.11049656,  0.2194052 ],
       [ 0.75636269,  1.16942678, -0.68721318,  0.53177103],
       [-1.64327701, -2.47787021, -0.42413921,  0.98238445],
       [ 0.16417614,  0.14239154, -2.51070793, -0.09177718],
       [ 2.12314346, -0.58370342,  2.79057151, -0.23638024],
       [ 0.42256911, -0.04196983, -1.54325983,  1.51441762],
       [ 0.47979074,  0.79672984, -0.53926684,  0.74576227]])

In [ ]:
dates

DatetimeIndex(['2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29',
               '2022-01-30', '2022-01-31', '2022-02-01', '2022-02-02',
               '2022-02-03', '2022-02-04'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
s="abcs"
list(s)

['a', 'b', 'c', 's']

In [ ]:
df=pd.DataFrame(data=num,index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-26 -0.069172  1.141166  2.794003 -1.150073
2022-01-27  0.956249 -0.382215  1.120632 -0.995399
2022-01-28  0.040867  0.821729 -1.351518  0.684118
2022-01-29  0.776975 -0.552035 -0.110497  0.219405
2022-01-30  0.756363  1.169427 -0.687213  0.531771
2022-01-31 -1.643277 -2.477870 -0.424139  0.982384
2022-02-01  0.164176  0.142392 -2.510708 -0.091777
2022-02-02  2.123143 -0.583703  2.790572 -0.236380
2022-02-03  0.422569 -0.041970 -1.543260  1.514418
2022-02-04  0.479791  0.796730 -0.539267  0.745762

In [ ]:
df.head(4)

                   A         B         C         D
2022-01-26 -0.069172  1.141166  2.794003 -1.150073
2022-01-27  0.956249 -0.382215  1.120632 -0.995399
2022-01-28  0.040867  0.821729 -1.351518  0.684118
2022-01-29  0.776975 -0.552035 -0.110497  0.219405

In [ ]:
df.tail(3)

                   A         B         C         D
2022-02-02  2.123143 -0.583703  2.790572 -0.236380
2022-02-03  0.422569 -0.041970 -1.543260  1.514418
2022-02-04  0.479791  0.796730 -0.539267  0.745762

In [ ]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.400768   0.003365  -0.046140   0.220423
std     0.950690   1.102177   1.773112   0.850200
min    -1.643277  -2.477870  -2.510708  -1.150073
25%     0.071695  -0.509580  -1.185442  -0.200229
50%     0.451180   0.050211  -0.481703   0.375588
75%     0.771822   0.815479   0.812849   0.730351
max     2.123143   1.169427   2.794003   1.514418

Day 2 pandas practise

In [ ]:
import numpy as np
import pandas as pd

Creating a datafram by passing a dictionary of objecets that can be converted into series like structure.

In [ ]:
dummy_df=pd.DataFrame({
    'Name':["ram","shyam","prakash"],
    'age':[12,23,34],
    'Address':'kathmandu'
})

In [ ]:
dummy_df

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.head(2)

    Name  age    Address
0    ram   12  kathmandu
1  shyam   23  kathmandu

In [ ]:
dummy_df.tail(2)

      Name  age    Address
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
x=pd.Series(data=10,index=list(range(4)))
x

0    10
1    10
2    10
3    10
dtype: int64

In [ ]:
#categorical data
gender=["male","female"]
typeofvecle=["diesel engine"]

In [ ]:
#DataFrame is collectionof hetrogenous data
df=pd.DataFrame({
    'A':1.0,
    'B':pd.Timestamp("20220223"),
    'C':pd.Series(1,index=list(range(4)),dtype=np.float32),
    'D':np.array([3]*4,dtype=np.int32),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':"foo"
})

In [ ]:
df

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df1=pd.DataFrame(data=np.random.randn(6,4),index=pd.date_range("20220122",periods=6),columns=list("ABCD"))

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1.head(2)

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561

In [ ]:
df1.tail(2)

                   A         B         C         D
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [ ]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
dummy_df.columns

Index(['Name', 'age', 'Address'], dtype='object')

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.index.values

array([0, 1, 2, 3])

In [ ]:
df1.index.values

array(['2022-01-22T00:00:00.000000000', '2022-01-23T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-25T00:00:00.000000000',
       '2022-01-26T00:00:00.000000000', '2022-01-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [ ]:
#to convert data into numpy
df1.to_numpy()

array([[ 0.65635303,  0.9930265 , -0.10801838, -0.16896203],
       [-1.29367869,  0.85895959, -1.15270225, -1.2415608 ],
       [ 0.44131433,  1.61347338,  0.16306196,  2.12410747],
       [-1.09229979, -0.67045734,  1.74922041, -1.28756617],
       [-0.46651235,  0.12546373,  0.63073263,  0.19280841],
       [ 2.00498432,  1.25104582,  0.05248082,  0.31364829]])

In [ ]:
df1.to_numpy().shape

(6, 4)

In [ ]:
df1.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.041693  0.695252  0.222463 -0.011254
std    1.242533  0.831544  0.951882  1.254948
min   -1.293679 -0.670457 -1.152702 -1.287566
25%   -0.935853  0.308838 -0.067894 -0.973411
50%   -0.012599  0.925993  0.107771  0.011923
75%    0.602593  1.186541  0.513815  0.283438
max    2.004984  1.613473  1.749220  2.124107

In [ ]:
df1.describe

<bound method NDFrame.describe of                    A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648>

In [ ]:
df.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:
dummy_df.describe()

        age
count   3.0
mean   23.0
std    11.0
min    12.0
25%    17.5
50%    23.0
75%    28.5
max    34.0

Transpossing your data:
which means to conver row to column and column to row

In [ ]:
df.T

                     0  ...                    3
A                    1  ...                    1
B  2022-02-23 00:00:00  ...  2022-02-23 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [ ]:
df1.T

   2022-01-22  2022-01-23  2022-01-24  2022-01-25  2022-01-26  2022-01-27
A    0.656353   -1.293679    0.441314   -1.092300   -0.466512    2.004984
B    0.993026    0.858960    1.613473   -0.670457    0.125464    1.251046
C   -0.108018   -1.152702    0.163062    1.749220    0.630733    0.052481
D   -0.168962   -1.241561    2.124107   -1.287566    0.192808    0.313648

In [ ]:
dummy_df.T

                 0          1          2
Name           ram      shyam    prakash
age             12         23         34
Address  kathmandu  kathmandu  kathmandu

Sorting by an axis:

Sorting a dataframe


axis=0 for column and axis =1 for row

In [ ]:
dummy_df

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.sort_index(axis=0)

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.sort_index(axis=0,ascending=True)

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.sort_index(axis=0,ascending=False)

      Name  age    Address
2  prakash   34  kathmandu
1    shyam   23  kathmandu
0      ram   12  kathmandu

In [ ]:
dummy_df.sort_index(axis=1)

     Address     Name  age
0  kathmandu      ram   12
1  kathmandu    shyam   23
2  kathmandu  prakash   34

In [ ]:
dummy_df.sort_index(axis=1,ascending=True)

     Address     Name  age
0  kathmandu      ram   12
1  kathmandu    shyam   23
2  kathmandu  prakash   34

In [ ]:
dummy_df.sort_index(axis=1,ascending=False)

   age     Name    Address
0   12      ram  kathmandu
1   23    shyam  kathmandu
2   34  prakash  kathmandu

In [ ]:
df.sort_index(axis=0)

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.sort_index(axis=0,ascending=True)

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

Sort by Values

In [ ]:
dummy_df.sort_values(by="age")

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.sort_values(by="age",ascending=True)

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.sort_values(by="Address",ascending=True)

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1.sort_values(by="B")

                   A         B         C         D
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-27  2.004984  1.251046  0.052481  0.313648
2022-01-24  0.441314  1.613473  0.163062  2.124107

In [ ]:
df1["B"]

2022-01-22    0.993026
2022-01-23    0.858960
2022-01-24    1.613473
2022-01-25   -0.670457
2022-01-26    0.125464
2022-01-27    1.251046
Freq: D, Name: B, dtype: float64

Selection

In [ ]:
df.head(2)

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [ ]:
df.B

0   2022-02-23
1   2022-02-23
2   2022-02-23
3   2022-02-23
Name: B, dtype: datetime64[ns]

In [ ]:
df['B']

0   2022-02-23
1   2022-02-23
2   2022-02-23
3   2022-02-23
Name: B, dtype: datetime64[ns]

In [ ]:
dummy_df["Name"]

0        ram
1      shyam
2    prakash
Name: Name, dtype: object

Selecting Via []

In [ ]:
dummy_df.head(2)

    Name  age    Address
0    ram   12  kathmandu
1  shyam   23  kathmandu

In [ ]:
dummy_df[:]

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
df1[:]

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1[0:3]

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107

In [ ]:
df1[1:3]

                   A         B         C         D
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107

Selection by label

loc and iloc

In [ ]:
index1=dummy_df.index
index1

RangeIndex(start=0, stop=3, step=1)

In [ ]:
index2=list(dummy_df.index)
index2

[0, 1, 2]

In [ ]:
index3=list(df.index)
index3

[0, 1, 2, 3]

In [ ]:
index4=list(df1.index)
index4

[Timestamp('2022-01-22 00:00:00', freq='D'),
 Timestamp('2022-01-23 00:00:00', freq='D'),
 Timestamp('2022-01-24 00:00:00', freq='D'),
 Timestamp('2022-01-25 00:00:00', freq='D'),
 Timestamp('2022-01-26 00:00:00', freq='D'),
 Timestamp('2022-01-27 00:00:00', freq='D')]

In [ ]:
dummy_df.loc(index1[0])

In [ ]:
df

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.loc[index[3]]

NameError: ignored

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
index4

[Timestamp('2022-01-22 00:00:00', freq='D'),
 Timestamp('2022-01-23 00:00:00', freq='D'),
 Timestamp('2022-01-24 00:00:00', freq='D'),
 Timestamp('2022-01-25 00:00:00', freq='D'),
 Timestamp('2022-01-26 00:00:00', freq='D'),
 Timestamp('2022-01-27 00:00:00', freq='D')]

In [ ]:
index4=list(df1.index)
index4

[Timestamp('2022-01-22 00:00:00', freq='D'),
 Timestamp('2022-01-23 00:00:00', freq='D'),
 Timestamp('2022-01-24 00:00:00', freq='D'),
 Timestamp('2022-01-25 00:00:00', freq='D'),
 Timestamp('2022-01-26 00:00:00', freq='D'),
 Timestamp('2022-01-27 00:00:00', freq='D')]

In [ ]:
df1.loc[index4[3]]

A   -1.092300
B   -0.670457
C    1.749220
D   -1.287566
Name: 2022-01-25 00:00:00, dtype: float64

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1.loc[index4[4]]

A   -0.466512
B    0.125464
C    0.630733
D    0.192808
Name: 2022-01-26 00:00:00, dtype: float64

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1.loc[:,["A"]]

                   A
2022-01-22  0.656353
2022-01-23 -1.293679
2022-01-24  0.441314
2022-01-25 -1.092300
2022-01-26 -0.466512
2022-01-27  2.004984

In [ ]:
df1.loc[:,["C","B"]]

                   C         B
2022-01-22 -0.108018  0.993026
2022-01-23 -1.152702  0.858960
2022-01-24  0.163062  1.613473
2022-01-25  1.749220 -0.670457
2022-01-26  0.630733  0.125464
2022-01-27  0.052481  1.251046

In [ ]:
df1.loc[index4[:2],["B","C"]]

                   B         C
2022-01-22  0.993026 -0.108018
2022-01-23  0.858960 -1.152702

In [ ]:
dummy_df

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df.loc[index1[1:3],["Name","Address"]]

      Name    Address
1    shyam  kathmandu
2  prakash  kathmandu

In [ ]:
df

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.loc[index2[1:4],["A","B"]]

     A          B
1  1.0 2022-02-23
2  1.0 2022-02-23

In [ ]:
df.loc[index2[2:5],["B","F"]]

           B    F
2 2022-02-23  foo

In [ ]:
df

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df.iloc[0:3,0:3]

     A          B    C
0  1.0 2022-02-23  1.0
1  1.0 2022-02-23  1.0
2  1.0 2022-02-23  1.0

In [ ]:
df.iloc[0:3]

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo

In [ ]:
df.iloc[0:4,0:3]

     A          B    C
0  1.0 2022-02-23  1.0
1  1.0 2022-02-23  1.0
2  1.0 2022-02-23  1.0
3  1.0 2022-02-23  1.0

In [ ]:
df.iloc[0:2,0:4]

     A          B    C  D
0  1.0 2022-02-23  1.0  3
1  1.0 2022-02-23  1.0  3

In [ ]:
df.iloc[0:3,0:5]

     A          B    C  D      E
0  1.0 2022-02-23  1.0  3   test
1  1.0 2022-02-23  1.0  3  train
2  1.0 2022-02-23  1.0  3   test

In [ ]:
df.iloc[:3,0:4]

     A          B    C  D
0  1.0 2022-02-23  1.0  3
1  1.0 2022-02-23  1.0  3
2  1.0 2022-02-23  1.0  3

In [ ]:
df

     A          B    C  D      E    F
0  1.0 2022-02-23  1.0  3   test  foo
1  1.0 2022-02-23  1.0  3  train  foo
2  1.0 2022-02-23  1.0  3   test  foo
3  1.0 2022-02-23  1.0  3  train  foo

In [ ]:
df1

                   A         B         C         D
2022-01-22  0.656353  0.993026 -0.108018 -0.168962
2022-01-23 -1.293679  0.858960 -1.152702 -1.241561
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25 -1.092300 -0.670457  1.749220 -1.287566
2022-01-26 -0.466512  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1>0

                A      B      C      D
2022-01-22   True   True  False  False
2022-01-23  False   True  False  False
2022-01-24   True   True   True   True
2022-01-25  False  False   True  False
2022-01-26  False   True   True   True
2022-01-27   True   True   True   True

In [ ]:
df1[df1>0]

                   A         B         C         D
2022-01-22  0.656353  0.993026       NaN       NaN
2022-01-23       NaN  0.858960       NaN       NaN
2022-01-24  0.441314  1.613473  0.163062  2.124107
2022-01-25       NaN       NaN  1.749220       NaN
2022-01-26       NaN  0.125464  0.630733  0.192808
2022-01-27  2.004984  1.251046  0.052481  0.313648

In [ ]:
df1[df1<0]

                   A         B         C         D
2022-01-22       NaN       NaN -0.108018 -0.168962
2022-01-23 -1.293679       NaN -1.152702 -1.241561
2022-01-24       NaN       NaN       NaN       NaN
2022-01-25 -1.092300 -0.670457       NaN -1.287566
2022-01-26 -0.466512       NaN       NaN       NaN
2022-01-27       NaN       NaN       NaN       NaN

In [ ]:
dummy_df[dummy_df=="ram"]

  Name  age Address
0  ram  NaN     NaN
1  NaN  NaN     NaN
2  NaN  NaN     NaN

In [ ]:
dummy_df[dummy_df=="prakash"]

      Name  age Address
0      NaN  NaN     NaN
1      NaN  NaN     NaN
2  prakash  NaN     NaN

In [ ]:
dummy_df

      Name  age    Address
0      ram   12  kathmandu
1    shyam   23  kathmandu
2  prakash   34  kathmandu

In [ ]:
dummy_df["Name"].isin(["ram"])

0     True
1    False
2    False
Name: Name, dtype: bool

In [ ]:
dummy_df[dummy_df["Name"].isin(["ram"])]

  Name  age    Address
0  ram   12  kathmandu

In [ ]:
dummy_df["Age"]>=10

KeyError: ignored

DAY 3 Pandas

Setting

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.